@page "/"
@page "/home"
@inherits IndexBase

<h1>Demo Grid Loading!</h1>

<hr />

<select @bind="@AnimationTypeString">
    @foreach (var animationType in _animationTypes)
    {
    <option value="@animationType.GetDescription()">@animationType.ToString()</option>
    }
</select>

<br />

<label for="rowRange">Row Count: @_rowCount</label>
<input type="range" class="custom-range" min="1" max="8" id="rowRange" @bind-value="_rowCount">

<br />

<label for="animationDuration">Animation Duration: @(_animationDuration)s</label>
<input type="range" class="custom-range" min="0" max="5" id="animationDuration" @bind-value="_animationDuration">

<br />

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="darkModeSwitch" @bind-value="_isDarkMode">
    <label class="custom-control-label" for="darkModeSwitch">Is Dark Mode!</label>
</div>

<hr />

<GridLoading RowCount="_rowCount" ColumnNames="_columnNames" IsDarkMode="_isDarkMode" AnimationType="_animationType" AnimationDuration="_animationDuration" />